<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="views/layouts :: head">
</head>
<body>

  <!-- Navigation -->
 <div th:replace="views/layouts :: navbar"></div>


  <div class="container">

    <div class="row">

              <div style="margin: 20px;">

                          <h1 class="my-4">Nuestras<br>Marcas</h1>
                          <select name="marcas" id="idMarcas">
                              <option value="0" selected>Seleccione una Marca</option>
                              <option th:each="marca : ${marcas}" th:value="${marca.id}" th:text="${marca.brand}"></option>
                          </select>

              </div>

              <div>

                        <div class="row" id="celularCard">
                                <div th:each="celular : ${celulares}"  class="col-lg-4 col-md-6 mb-4">
                                      <div class="card h-100">
                                        <a href=""><img class="card-img-top" th:src="${celular[1]}" th:alt="${celular[2]}" id="celularImg"></a>
                                              <div class="card-body">
                                              <h4 class="card-title">
                                                  <a href=""></a>
                                                </h4>
                                                <h4 class="card-title">
                                                  <h5><span th:text="${celular[2]}" id="celularTitle"></span></h5>
                                                  <a href=""></a>
                                                </h4>
                                                <h6>Precio: <span th:text="${celular[3]}" id="celularPrice"></span></h5>
                                                <h6>Marca: <span th:text="${celular[0]}" id="celularBrand"></span></h5>
                                                <p class="card-text"></p>
                                              </div>
                                              <div class="card-footer">
                                                <small class="text-muted">
                                                </small>
                                              </div>
                                      </div>
                                </div>
                                
                        </div>
                  </div>
          </div>
  </div>

  <div th:replace="views/layouts :: footer"></div>
  <div th:replace="views/layouts :: js"></div>

</body>
</html>