<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="views/layouts :: head"></head>
<body>
    <div th:replace="views/layouts :: navbar"></div>
    <div style="margin: 75px;">
    <div class="container">

        <h2>Pedidos del Usuario: </h2>
            
            <table class="table table-success table-striped">
                <thead>
                    <th>Id Pedido</th>
                    <th>Id Equipo</th>
                    <th>Marca</th>
                    <th>Nombre</th>
                    <th>Caracteristicas</th>
                    <th>Imagen</th>
                    <th>Precio</th>

                </thead>
                <tbody>
                    <tr th:each="pedido: ${pedido}">
                        <th><span th:text="${pedido[0]}"></span></th>
                        <th><span th:text="${pedido[1]}"></span></th>
                        <th><span th:text="${pedido[2]}"></span></th>
                        <th><span th:text="${pedido[3]}"></span></th>
                        <th><span th:text="${pedido[4]}"></span></th>
                        <!--<th><span th:text="${pedido[5]}"></span></th>-->
                        <th><img th:src="${pedido[5]}" width="100px" height="100px"/></th>
                        <th><span th:text="${pedido[6]}"></span></th>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
    <div th:replace="views/layouts :: footer"></div>
    <div th:replace="views/layouts :: js"></div>
</body>
</html>