<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="views/layouts :: head"></head>
<body>
    <div th:replace="views/layouts :: navbar" style="margin-bottom: 20px;"></div>
    <div style="margin: 75px;">
    <div class="container">

        <h3><p class="card-text" style="border: #000; background-color: rgb(191, 189, 189); color: #000; border-radius: 15px; padding: 20px" >En El Mundo Del Celular cuidamos cada cliente, por ello no solo vendemos productos de TELEFONÍA MÓVIL sino que además contamos con SERVICIO TÉCNICO Especializado para que cada problema relacionado a telefonía celular sea solucionado en tiempo y forma y con el precio que te merecés.<br>
            Contamos con todos los REPUESTOS para tu SMARTPHONE y HERRAMIENTAS para quienes se dedican a la reparación de celulares, que este trabajo se logre con un 100% de efectividad. También contamos con una amplia gama de ACCESORIOS de todo tipo: cables usb, auriculares, memorias, pendrives, glass y mas...<br>
      Nuestro negocio es principalmente de VENTA MAYORISTA, dirigido a comercios y locales que venden teléfonos celulares, accesorios y respuestos. Si tu compra es minorista te invitamos al conocer nuestro local y llevarte todo lo que quieras a precios más bajos que en cualquier tienda minorista.<br>
      Nos gusta solucionar tus problemas y brindarte los mejores productos, LA MEJOR ATENCIÓN PERSONALIZADA y EL MEJOR SERVICIO TÉCNICO. Además, ahora también tenemos SERVICELL HOGAR, ELECTRODOMÉSTICOS, AUDIO Y TECNOLOGÍA en nuestro local de al lado. </p></h3>
    </div>
    </div>
    <div th:replace="views/layouts :: footer"></div>
    <div th:replace="views/layouts :: js"></div>
</body>
</html>